@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.center {
  margin: 0 auto;
}

.panel-bg {
  width: 1400px;
  height: 1097px;
  margin: 0 40px 65px 0;
  padding: 0 0 794px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}

.panel-head {
  width: 1400px;
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: white;
}

.Bookstore-CMS {
  width: 240px;
  height: 37px;
  margin: 6px 47px 2px 0;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}