body {
  background-color: #f5f6fa;
}

.center {
  margin: 0 auto;
}

.Bookstore-bg {
  width: 1600px;
  height: 1434px;
  padding: 149px 60px 123px 100px;
  background-color: #f5f6fa;
}

.panel-bg {
  width: 1400px;
  height: 1097px;
  margin: 0 40px 65px 0;
  padding: 0 0 794px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #fafafa;
}

.panel-head {
  width: 1400px;
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: white;
}

.Bookstore-CMS {
  width: 240px;
  height: 37px;
  margin: 6px 47px 2px 0;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.BOOKS {
  width: 59px;
  height: 16px;
  margin: 18px 41px 11px 0;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 105px;
  height: 16px;
  margin: 18px 664px 11px 10px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.Mask {
  color: #0290ff;
}

.btn-col {
  background-color: #0290ff;
}

.Oval {
  width: 45px;
  height: 45px;
  padding: 14px;
  border: solid 1px #e8e8e8;
}

.Lesson-Panel {
  width: 1200px;
  height: 170px;
  margin: 37px 100px 0;
  padding: 32px 147px 26px 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white);
}

.title {
  height: 24px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #8f8f8f;
}

.arrow {
  width: 5px;
  height: 10px;
  border-color: #888 #fff #fff;
  border-style: solid;
  border-width: 10px 5px;
  top: 17px;
  right: 15px;
}